useDynLib(ACMEeqtl, .registration = TRUE)
export(
    "effectSizeEstimationC",
    "effectSizeEstimationR",
    "create_artificial_data",
    "multithreadACME"
)
importFrom( "filematrix", "fm.create", "fm.load", "fm.open",
            "fm.create.from.matrix", "closeAndDeleteFiles")
importClassesFrom("filematrix", "filematrix")
importMethodsFrom("filematrix", "close")

importFrom( "parallel", "makeCluster", "clusterEvalQ", "clusterApplyLB",
				"stopCluster", "detectCores", "clusterExport")

importFrom("stats", "rbinom", "rnorm", "runif")
importFrom("utils", "tail", "write.table")